# Build output
dist
dist-ssr

# Node modules
node_modules

# Vite cache
.vite

# Storybook static build
storybook-static

# OS files
.DS_Store

# VSCode settings (optional, except recommended settings)
.vscode/*
!.vscode/extensions.json

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*
*storybook.log

# Env files
.env
.env.*  