@import "tailwindcss";

@theme {
    --color-primary: #333333;
    --color-secondary: #666666;
    --color-background: #f9fafb;
    --color-logo: #ff0032;
    --color-border: #e5e7eb; /* 구분선 */
    --color-selected: #f2f2f2; /* 선택된 탭 */
}

.logo {
    font-family: var(--font-youtube);
}
